./tircker
./*.py
./error
./getmarkets
./.gitignore
./BitCoinInterface/BitCoinInterface/bin/*
./BitCoinInterface/BitCoinInterface/obj/*
./BitCoWatcher/BitCoinWatcher/bin/*
./BitCoWatcher/BitCoinWatcher/obj/*
